
<%- include("./partials/head.ejs") %> 

<body>
    <%-  include("./partials/nav.ejs") %> 
    
    <div class="blog-container">
        <h2>OOps ........... Something went wrong</h2>
            <p>The page does not exist</p>
    </div>
  
    
</body>
</html>