
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 
    
    <div class="blog-container">
        <h2>About us </h2>

    </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quis, adipisci eius nobis harum nulla libero eligendi recusandae laudantium ea eveniet modi quo reprehenderit cupiditate ut saepe quas enim dicta beatae qui. Vel labore cum ex enim debitis nobis, aut itaque numquam optio? Corrupti, eos amet error unde quis iusto architecto autem dolorem, magnam dolorum officia labore, minus quisquam. Impedit exercitationem quam asperiores aliquam vitae tenetur, voluptate porro, aperiam delectus in, incidunt recusandae quaerat possimus consequatur accusantium. Recusandae, dolorum at quis dolorem, fuga nemo iste natus saepe distinctio ex velit quia? Deserunt facere nobis esse rerum blanditiis eveniet dignissimos. Hic.</p>
    
</body>
</html>