<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-me</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./contact-me">Contact me</a></li>
        </ul>
    </nav>
    <h1>This Contact me page </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At autem soluta distinctio quis quos doloribus cum quod possimus deserunt dicta, necessitatibus molestias ratione repellendus blanditiis nam? Eum nesciunt minus deserunt fugit quas cupiditate illo facere enim voluptatum blanditiis! Tempore recusandae impedit dolorum iusto. Assumenda expedita quia, in illum amet magni.</p>


</body>
</html>