
<%- include("./partials/head.ejs") %> 

<body>
        <%- include('./partials/nav') %> 

    <div class="blog-container">
        <h2>Create New blog </h2>
    </div>

    <div class="form-div">
        <form action="/blogs" method="POST">
            <input type="text" placeholder="title" name="title" required><br>
            <input type="text" placeholder="snipet" name="snipet" required><br>
            <textarea name="body" cols="30" rows="10" required></textarea><br>
            
            <button type="submit">Create New blog</button>
        </form>
    </div>
    
</body>
</html>